section{
    width: 250px;
   height: 100px;
    background-color: #88c1d0;
    padding: 20px;
    margin: 10px;
    border: 1px solid #d0c4c4;
}

@media screen and (min-width: 1600px) {
    main{
     display: flex;
     flex-direction: row;
    }
}

@media screen and (min-width: 786px) and (max-width: 1599px){
    main{
     display: flex;
     flex-wrap:wrap;
    }
}

@media screen and (max-width: 767px) {
    main{
     display: flex;
     flex-direction: column;
    }
}